_0_REPO_0/My_Project/.vscode/
_1_REPO_1/my_new_project/_build/
_1_REPO_1/my_new_project/out/
_2_REPO/my_project8/my_project_8/out/
_2_REPO/my_project8/my_project_8/.vscode/
_2_REPO/my_project8/my_project_8/_build/
__document/
_2_REPO/_0_dim_baseboard/dim_board/_build/
_2_REPO/_3_dim_baseboard_2/dspic33ak512mps512_2/_build/
