_0_REPO_0/My_Project/.vscode/
_1_REPO_1/my_new_project/_build/
_1_REPO_1/my_new_project/out/
_2_REPO/my_project8/my_project_8/out/
_2_REPO/my_project8/my_project_8/.vscode/
_2_REPO/my_project8/my_project_8/_build/
